<div class="header">
        <h1>Find a Parking Spot</h1>
      </div>
      <form name="findForm" action="app2.html">
        <ul>
          <li>
            <label>Enter Destination</label>
            <input type="text" ng-model="to" placeholder="222 W Hargett Street" />
          </li>
          <li>
            <label class="ally">Find my location</label>
            <button type="submit">Near Me</button>
          </li>
          <li>
            <label><input type="checkbox" />I have an Electic Vehicle</label>
          </li>
        </ul>
      </form>
      <div class="footer">
        <p>City of Raleigh</p>
      </div>