<div class="header">
        <h1>Find a Parking Spot</h1>
      </div>
      <form ng-hide="map" name="findForm" ng-submit="getDirections(findForm)">
        <ul>
          <li>
            <label>Enter Origin</label>
            <input type="text" ng-model="findForm.from" placeholder="My Location" />
          </li>
          <li>
            <label>Enter Destination</label>
            <input type="text" ng-model="findForm.to" placeholder="222 W Hargett Street" />
          </li>
          <li>
            <label class="ally">Find my location</label>
            <button type="submit">Near Me</button>
          </li>
          <li>
            <label><input type="checkbox" />I have an Electic Vehicle</label>
          </li>
        </ul>
      </form>
      <!-- <pre>{{directions}}</pre> -->
      <div ng-show="map">
        <leaflet center="Raleigh" paths="paths" width="800" height="600"></leaflet>
      </div>